.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
	float: left;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#menu {
	width: 20%;
	height: calc(100% - 100px);
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: beige;
}

#map {
	width: 80%;
	height: calc(100% - 100px);
	position: absolute;
	right: 0;
	bottom: 0;
}
